<html>

<head>
    <title>Fastapi test</title>
    <link href="{{ url_for('static', path = '/style.css') }}" rel="stylesheet" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Fastapi Test</h1>
    <div>
        <form method="POST" action="compression" enctype="multipart/form-data">
            <input type="file" name="file"/>
            <fieldset>
                <legend>압축 parameter 지정</legend>
                Size_mult : <input type="text" name="size_mult" value={{size_mult}}><br>
                Detail_threshold : <input type="text" name="detail_threshold" value={{detail_threshold}}><br>
                Max_depth : <input type="text" name="max_depth" value={{max_depth}}>
                Target_depth : <input type="text" name="target_depth" value={{target_depth}}>
            </fieldset>
            <input type = "submit"/>
        </form>    
        <img src={{file_path}}>
        <a href={{compressed_path}} downlaod>
            <img src={{compressed_path}}>
        </a>
    
    </div>
    
    </body>

</html>