<html>

    <head>
        <title>Fastapi test</title>
        <link href="{{ url_for('static', path = '/style.css') }}" rel="stylesheet" >
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <h1>Fastapi Test</h1>
        <div>
            <form method="POST" action="predict" enctype="multipart/form-data">
                <input type="file" name="file"/>
                <input type = "submit" value="Denoising"/>
            </form>    
        
        </div>
    
    </body>

</html>